<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Assign3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TestServer</display-name>
    <servlet-name>TestServer</servlet-name>
    <servlet-class>TestServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServer</servlet-name>
    <url-pattern>/TestServer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Skeleton</display-name>
    <servlet-name>Skeleton</servlet-name>
    <servlet-class>com.ass.server.Skeleton</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Skeleton</servlet-name>
    <url-pattern>/Skeleton</url-pattern>
  </servlet-mapping>
</web-app>